.footer
  background: $dark-blue
  margin-top: 3.5rem

.footer__content
  align-items: center
  display: flex
  justify-content: flex-end
  padding: $s-size 0
  > a
    color: white
    opacity: 0.25
    line-height: 4.5rem
    text-decoration: none
    &:hover
      opacity: 1