*
  box-sizing: border-box
  
html
  font-size: 62.5% // rem to 10 base system, that is 1rem = 10px
  height: 100%
  position: relative

body
  color: $dark-gray
  font-family: Helvetica, Arial, sans-serif
  font-size: $m-size
  line-height: 1.6
  overflow-y: scroll
  overflow-x: hidden
  height: 100%
  position: relative

button
  cursor: pointer

button:disabled
  cursor: default

.is-active
  color: #31AA42